<section class = "customers" id = "customers">
    <div class = "sec-width">
        <div class = "title">
            <h2>Mušterije</h2>
        </div>
        <div class = "customers-container">

            <div class = "customer">
                <div class = "rating">
                    <% for( let index = 0; index < 3; index++ ) { %>
                        <span><i class = "fas fa-star"></i></span>
                    <% } %>
                </div>
                <h3>Sviđa nam se</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat beatae veritatis provident eveniet praesentium veniam cum iusto distinctio esse, vero est autem, eius optio cupiditate?</p>
                <img src = "images/cus1.jpg" alt = "customer image">
                <span>Marta Nartić, Hrvatska</span>
            </div>

            <div class = "customer">
                <div class = "rating">
                    <% for( let index = 0; index < 4; index++ ) { %>
                        <span><i class = "fas fa-star"></i></span>
                    <% } %>
                </div>
                <h3>Ugodno i zabavno</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat beatae veritatis provident eveniet praesentium veniam cum iusto distinctio esse, vero est autem, eius optio cupiditate?</p>
                <img src = "images/cus2.jpg" alt = "customer image">
                <span>Ana Anić, Hrvatska</span>
            </div>

            <div class = "customer">
                <div class = "rating">
                    <% for( let index = 0; index < 5; index++ ) { %>
                        <span><i class = "fas fa-star"></i></span>
                    <% } %>
                </div>
                <h3>Lijepo mjesto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat beatae veritatis provident eveniet praesentium veniam cum iusto distinctio esse, vero est autem, eius optio cupiditate?</p>
                <img src = "images/cus3.jpg" alt = "customer image">
                <span>Pero Perić, Hrvatska</span>
            </div>

        </div>
    </div>
</div>
</section>