<footer class = "footer">
    <div class = "footer-container">
        <div>
            <h2>O nama </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque sapiente mollitia doloribus provident? Eos quisquam aliquid vel dolorum, impedit culpa.</p>
            <ul class = "social-icons">
                <li class = "flex">
                    <i class = "fa fa-twitter fa-2x"></i>
                </li>
                <li class = "flex">
                    <i class = "fa fa-facebook fa-2x"></i>
                </li>
                <li class = "flex">
                    <i class = "fa fa-instagram fa-2x"></i>
                </li>
            </ul>
        </div>

        <div>
            <h2>Linkovi</h2>
            <a href = "#header">Prijava/Registracija</a>
            <a href="#header">Naslovna</a>
            <a href="#hotel-content-container">Sadržaj</a>
            <a href="#booking">Rezervirajte!</a>
        </div>

        <div>
            <h2>Privatnost</h2>
            <a href = "#">Karijere</a>
            <a href = "#">O nama</a>
            <a href = "#">Kontaktirajte nas</a>
            <a href = "#">Servisi</a>
        </div>

        <div class="contact-container">
            <h2>Imate pitanja?</h2>
            <div class = "contact-item">
                <span>
                    <i class = "fas fa-map-marker-alt"></i>
                </span>
                <span>
                    Vir
                </span>
            </div>
            <div class = "contact-item">
                <span>
                    <i class = "fas fa-phone-alt"></i>
                </span>
                <span>
                    +84545 37534 48
                </span>
            </div>
            <div class = "contact-item">
                <span>
                    <i class = "fas fa-envelope"></i>
                </span>
                <span>
                    valentinstuban@gmail.com
                </span>
            </div>
        </div>
    </div>
</footer>
</body>
</html> 