<div class="hotel-content-container">
    <div class="title">
        <h2>SADRŽAJ</h2>
    </div>
    <div class="galery" id="galery">
        <div class="img col-sm-6 col-md-4">
            <a class="lightbox" href="images/hotel-delux-outside-img1.jpg">
                <img src="images/hotel-delux-outside-img1.jpg" alt="Bridge">
            </a>
            <div class="service-content">
                <i class="fas fa-swimming-pool"><h3 >Bazeni</h3></i>
                <p class="pic-paragraph">Osim što će vas uranjanje u bazen u trenutku osvježiti, dokazano je da ono također skraćuje vrijeme oporavka od treniranja i smanjuje učinak treningom uzrokovanog oštećenja mišića. Također plivanje u bazenu pospješuje i aktivira sve mišićne skupine i opušta vas nakon napornog dana i daje tonus vašoj koži.</p>
            </div>
        </div>
        <div class="img">
            <a class="lightbox" href="images/delux_restaurant.jpg">
            <img src="images/delux_restaurant.jpg" alt="hotel">
            </a>
            <div class="service-content">
                <i class="fas fa-utensils"><h3 >Restorani i dostava u sobu</h3></i>
             <p class="pic-paragraph">U restoranu i baru Deluxe Gril l poslužuju se maštovita riblja i mesna jela. Svakog jutra gosti mogu uživati u raznolikom doručku. </p>   
            </div>

        </div>
        <div class="img">
            <a class="lightbox" href="images/delux_fitness.jpg">
            <img src="images/delux_fitness.jpg" alt="hotel">
            </a>
            <div class="service-content">
                <i class="fas fa-heartbeat"><h3>Fitness</h3></i>
                <p class="pic-paragraph">Teretana je dobro opremljena, kao i wellness centar u kome ćete naći saune ili se prepustiti masažama.</p>
            </div>
        </div>
        <div class="location">
            <div class="service-content">
            <i class="fas fa-map"><h3>Lokacija</h3></i></div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2855.6674973706267!2d15.075436883935836!3d44.296226485436485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47622207fc31c02b%3A0x3f38c3ba1647ed8c!2sUl.%20Laz%20VIII%2023-1%2C%2023234%2C%20Vir!5e0!3m2!1sen!2shr!4v1609000472882!5m2!1sen!2shr" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            
    </div>
</div>
</div>