<section class="services sec-width" id="services">
    <div class="title">
        <h2>Servisi</h2>
    </div>
    <div class="services-container">
    <article class="service">
        <div class="service-icon">
            <span>
                <i class="fas fa-utensils"></i>
            </span>
        </div>
        <div class="service-content">
            <h2>Restorani i dostava u sobu</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Ea cum id labore nihil qui placeat aut facere, 
                vel odio iure incidunt impedit cumque nam, a aspernatur vero assumenda quis recusandae?</p>
        </div>
    </article>
    <article class="service">
        <div class="service-icon">
            <span>
                <i class="fas fa-swimming-pool"></i>
            </span>
        </div>
        <div class="service-content">
            <h2>Osvježenje</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Ea cum id labore nihil qui placeat aut facere, 
                vel odio iure incidunt impedit cumque nam, a aspernatur vero assumenda quis recusandae?</p>
        </div>
    </article>
    <article class="service">
        <div class="service-icon">
            <span>
                <i class="fas fa-broom"></i>
            </span>
        </div>
        <div class="service-content">
            <h2>Čišćenje</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Ea cum id labore nihil qui placeat aut facere, 
                vel odio iure incidunt impedit cumque nam, a aspernatur vero assumenda quis recusandae?</p>
        </div>
    </article>
    <article class="service">
        <div class="service-icon">
            <span>
                <i class="fas fa-door-closed"></i>
            </span>
        </div>
        <div class="service-content">
            <h2>Zaštita soba</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Ea cum id labore nihil qui placeat aut facere, 
                vel odio iure incidunt impedit cumque nam, a aspernatur vero assumenda quis recusandae?</p>
        </div>
    </article>
</section>
</div>