
<div class="site-nav">
    <span id="nav-btn">Izbornik
    <i class="fas fa-bars">
    </i>
    </span>  
<div class="sidenav" id="sidenav">
    <span class ="cancel-btn" id="cancel-btn">
        <i class="fas fa-times"></i>
    </span>
    <ul class="navbar" id="menu">
        <li><a href="/">Naslovna</a></li>
        <li><a href="/hotel#galery">Sadržaj</a></li>
        <li><a href="/#booking">Rezervirajte!</a></li>
    </ul>
    <button class="btn sign-up">Registracija</button>
    <button class="btn log-in">Prijava</button>
</div>
</div>
<div id="modal"></div>